/* * ==================== Qualification ================ */
.qualification {
    &__tabs {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: $mb-2;
    }

    &__button {
        font-size: var(--h3-font-size);
        font-weight: $font-medium;
        cursor: pointer;

        &:hover {
            color: $first-color;
        }
    }

    &__icon {
        font-size: 1.8rem;
        margin-right: $mb-0-25;
    }

    &__data {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 1.5rem;
    }

    &__title {
        font-size: var(--normal-font-size);
        font-weight: $font-medium;
    }

    &__subtitle {
        display: inline-block;
        font-size: var(--small-font-size);
        margin-bottom: $mb-1;
    }

    &__calendar {
        font-size: var(--small-font-size);
        color: $text-color-light;
    }

    &__rounder {
        display: inline-block;
        width: 13px;
        height: 13px;
        background-color: $first-color;
        border-radius: 50%;
    }

    &__line {
        display: block;
        width: 1px;
        height: 100%;
        background-color: $first-color;
        transform: translate(6px, -7px);
    }

    & [data-content] {
        display: none;
    }

    &__button.qualification__active {
        color: $first-color;
    }

    &__active[data-content] {
        display: block;
    }
}