@mixin bar($presentace) {
    width: $presentace;
}

.skills {
    &__container {
        row-gap: 0;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: $mb-2-5;
        cursor: pointer;
    }

    &__icon,
    &__arrow {
        font-size: 2rem;
        color: $first-color;
    }

    &__icon {
        margin-right: $mb-0-75;
    }

    &__title {
        font-size: var(--h3-font-size);
    }

    &__subtitle {
        font-size: var(--small-font-size);
        color: $text-color-light;
    }

    &__arrow {
        margin-left: auto;
        transition: .4s;
    }

    &__titles {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $mb-0-5;
    }

    &__number {
        i {
            font-size: var(--h3-font-size);
            color: $first-color;
        }
    }

    &__name {
        font-size: var(--normal-font-size);
        font-weight: $font-medium;
    }

    &__bar,
    &__percentage {
        height: 5px;
        border-radius: .25rem;
    }

    &__bar {
        background-color: $first-color-lighter;
    }

    &__percentage {
        display: block;
        background-color: $first-color;
    }

    &__php,
    &__nodejs,
    &__figma {
        @include bar(90%)
    }

    &__python {
        @include bar(80%)
    }

    &__adobexd {
        @include bar(75%)
    }

    &__close &__list {
        height: 0;
        overflow: hidden;
    }

    &__open &__list {
        height: max-content;
        margin-bottom: $mb-2-5;
    }

    &__open &__arrow {
        transform: rotate(-180deg);
        transition: .7s;
    }
}