.nav__btns {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: $mb-1;
    cursor: pointer;

    &:hover {
        color: $first-color;
    }
}