/* * ============= Reusable css classes ========== */
.section {
    padding: 2rem 0 4rem;

    &__title {
        font-size: var(--h1-font-size);
    }

    &__subtitle {
        display: block;
        font-size: var(--small-font-size);
        margin-bottom: $mb-3;
    }

    &__title,
    &__subtitle {
        text-align: center;
    }
}